# 값(객체), 변수 , 키워드(Keyword)

- 값
    - 객체
    - 프로그래밍에서 처리(연산)하는 대상
    - 수, 문자, 이미지, 음성 등등

- 변수
    - 값(객체)을 담을수 있는 공간
    - 객체의 위치(주소)를 갖고 있는 공간

- 키워드
    - 파이썬에서 이미 예약되어있는 예약어
    - 코드를 제어할수 있는 조건문이나 반복문, 함수나 클래스 등을 만들기 위해 파이썬 문법적인 요소로 정의 되어 있다.

In [ ]:
x = 1004 # x 라는 변수를 선언하고 1004를 넣어라
x # 변수를 사용할때는 값이 반환된다.

1004

In [ ]:
y = x # 변수의 값을 새로운 변수에 넣을수 있다.
y

1004

In [ ]:
id(x) , id(y) # 변수의 값을 새로운 변수에 넣을때는 새로운 값을 메모리에 생성할 필요가 없기때문에 x와 y의 주소값은 같다.

(140361762084112, 140361831604944)

In [ ]:
a = 1001 # 1001 을 메모리에 새로 생성해서 변수에 넣음
b = 1001 # 1001 을 메모리에 새로 생성해서 변수에 넣음

id(a) , id(b) # 1001 이라는 값은 동일한 값이지만 값을 메모리에 생성해서 변수에 넣기 때문에 주소값이 다른것을 확인 할수 있다.

(140361762084528, 140361762085200)

## 변수를 왜 사용하는가?
- 값을 재활용하고 가독성을 높여주고 , 중복을 제거하여 유지보수가 용이

In [ ]:
print(9*1)
print(9*2)
print(9*3)
print(9*4)
print(9*5)
print(9*6)
print(9*7)
print(9*8)
print(9*9)

9
18
27
36
45
54
63
72
81

In [ ]:
n = 3
print( n * 1)
print( n * 2)
print( n * 3)
print( n * 4)
print( n * 5)
print( n * 6)
print( n * 7)
print( n * 8)
print( n * 9)

3
6
9
12
15
18
21
24
27

## 변수 이름 규칙

- 대소문자 구분
    - 대문자 A 변수와 소문자 a 변수는 서로 다른변수라는 의미

In [ ]:
A = 3
a = 1
print(A)
print(a)

3
1

- 알파벳, 숫자, 언더바(_)만을 이용해서 변수명 선언

In [ ]:
my_age = 42

- 변수명 첫 글자에 숫자는 문법오류 발생

In [ ]:
1a = 1

SyntaxError: ignored

- python의 키워드(예약어)를 변수명으로 해서 값을 넣을때도 문법오류 발생

In [ ]:
if = 1

SyntaxError: ignored

- 이미 정의된 함수및 클래스의 이름을 변수명으로 하여 값을 넣어도 문법오류는 발생하지 않지만 값을 넣은 이후부터 그 함수 또는 클래스의 기능을 사용하지 못하기 때문에 변수명으로 사용하면 안된다.

# 주석
- 코드 실행에 영향을 주지 않고 코드에 설명을 달아줄때 사용
- 한줄 주석 : 코드 앞에 `#`를 입력해주면 됩니다.

In [ ]:
# 한줄 주석 입니다.

- 단축키를 이용한 주석 처리 방법
    - 주석처리 하고자하는 코드에 커서를 가져다 놓거나, 드래그를 한 상태에서 `ctrl + /` 입력하면 코드가 주석처리 된다.

In [ ]:
# a = 1004
# print(a)

- 여러줄 주석(Docstring): 설명을 큰따옴표 3개 or 작은따옴표 3개로 감싸주면 된다.
- Docstring은 주석 말고 문자열을 생성할때도 사용

In [ ]:
"""
여러줄 주석입니다.
여러줄 주석입니다.
"""
print("끈따옴표 혹은 작은 따옴표 3개로 묶어 주시면 됩니다.")

끈따옴표 혹은 작은 따옴표 3개로 묶어 주시면 됩니다.

# 자료형(data type)
- 파이썬은 기본적으로 4가지 자료형을 가지고 있다.

## int
- -1, 0 , 3 과 같은 정수를 의미하는 자료형

- type 함수를 이용하면 객체의 자료형을 확인 할수 있다.

In [ ]:
a = 1
type(a)

int

## float
- 3.14, 3.0 , -1.5 와 같은 실수를 의미하는 자료형

In [ ]:
a = 3.14
type(a)

float

## bool
- 참(True) / 거짓(False) 을 나타내는 논리 자료형을 의미

In [ ]:
a = True
b = False

type(a) , type(b)

(bool, bool)

## str
- 문자열 을 의미하는 자료형

In [ ]:
a = "hello"
type(a)

str

## 자료형변환(Casting)
- 파이썬에 기본자료형 간에 자료형 변환이 가능하다.

In [ ]:
int_value = 3
float_value = 3.14
bool_value = True
str_value = "3"

In [ ]:
int(float_value) #  int 함수를 사용하여 실수를 정수로 변경

3

In [ ]:
float(int_value) # float 함수를 사용하여 정수를 실수로 변경

3.0

In [ ]:
str(float_value) # str 함수를 사용하여 실수를 문자열로 변경

'3.14'

In [ ]:
bool(int_value) # bool 함수를 사용하여 정수를 논리 자료형으로 변경. 여기서 숫자가 0이 아닐경우 True 로 변경, 0일경우 False로 변경

True

In [ ]:
bool(0) # 0을 넣으면 False로 변경

False

# None
- `없음`을 나타내는 Python의 특수한 (값)객체
- 파이썬에서는 변수를 선언할때 값을 넣어줘야 문법오류가 발생 하지 않는다.
- 변수를 선언하고 값을 넣고 싶지 않을때 `None` 값을 넣어주면 된다.

In [ ]:
a = None
a

# 연산자


## 산술연산자
- 산술연산의 결과를 반환한다.
- `+, -, *, / , //, % , **`

In [ ]:
print( 5 + 2) # 더하기
print( 5 - 2) # 빼기
print( 5 * 2) # 곱하기
print( 5 / 2) # 나누기
print( 5 // 2) # 몫
print( 5 % 2) # 나머지
print( 5 ** 2) # 거듭제곱

7
3
10
2.5
2
1
25

## 대입 연산자
- 값을 변수에 할당한다.
- 연산결과의 값을 변수에 할당한다.
- `= , += , -= , ...`

In [ ]:
num = 3
num -= 3 # num = num - 3
num

0

In [ ]:
num = 3
num += 3
num

6

In [ ]:
num = 3
num **= 3 # num = num ** 3
num

27

## 비교 연산자
- 변수 또는 객체를 비교하여 bool 객체를 반환한다.
- `> , < , >=, <= , !=, ==`

In [ ]:
a = 5
b = 3

# 비교 결과가 참이면 True, 거짓이면 False 반환
print(a > b) # a가 b보다 크다
print(a < b) # a가 b보다 작다
print(a >= 5) # a가 5보다 크거나 같다
print(b <= 3) # a가 3보다 작거나 같다
print( a == b ) # a와 b가 같다
print( a != b ) # a와 b가 같지 않다

True
False
True
True
False
True

## 논리연산자
- bool 자료형을 연산하여 bool 자료형을 반환한다.
- `and, or, not`
- `A and B` : A와 B 모두 True 면 결과는 True
- `A or B` : A와 B 둘 중 하나만 True여도 결과는 True
- `not A` : A가 True면 False가 되고, False면 True가 된다.

In [ ]:
1 < 3 and 3 > 1

True

In [ ]:
3 < 1 or 4 < 3

False

In [ ]:
not False

True

In [ ]:
not True

False

## 포함 연산자
- 어떠한 값이 포함 되어있는지 여부에 따라 bool 객체를 반환
- `in , not in`
- `A in B` : A 문자열이 B 문자열에 포함 되어있으면 결과는 True
- `A not in B` : A 문자열이 B 문자열에 포함 되면 결과는 Flase , 없으면 True

In [ ]:
"a" in "abcd"

True

In [ ]:
"a" not in "abcd"

False