## numpy란?
- `Numerical Python`의 약자
  - 수치 계산을 하기 위한 파이썬 라이브러리
- 벡터, 행렬 단위의 대용량 수치 연산이 빠르게 진행
  - 배열을 병렬 연산 한다.

- 벡터(vector)
  - 1차원 데이터( 1차원 배열 )
  - 스칼라(scalar)가 연속적으로 여러 개 모여 있는 것
    - 스칼라(scalar)
        - 단순하게 측정한 하나의 값

- 행렬(Matrix)
  - 2차원 데이터( 2차원 배열 )
  - 1차원 배열인 벡터가 여러 개 모여 있는 것

In [ ]:
import numpy as np

##  벡터(vector)

In [ ]:
lst = [1, 2, 3 ,4,5,6]
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6])

## 행렬(Matrix)

In [ ]:
lst = [
        [1, 2, 3] ,
        [4,5,6]
       ]
arr = np.array(lst)
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
type(arr)

numpy.ndarray

In [ ]:
arr.__len__() # 매직메소드 구현되어있다. len함수에 넣을수 있다.

2

In [ ]:
len(arr) # 첫번째 차원에 길이만 구한다.

2

In [ ]:
arr.shape # 크기 확인

(2, 3)

In [ ]:
arr = np.array([1, 2, 3 ,4,5,6])
arr.shape

(6,)

# 인덱싱과 슬라이싱
- 기본적으로 파이썬에서 사용되는 인덱스, 슬라이싱 기법을 그대로 따라간다.

In [ ]:
arr[-1]

6

In [ ]:
arr[::-1]

array([6, 5, 4, 3, 2, 1])

- 행렬 형태의 배열 만들기

In [ ]:
arr = np.array([
                [1,2,3],
                [4,5,6],
                [7,8,9],
                [10,11,12],
                ])
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

- 데이터 행의 개수를 알고 싶다면?

In [ ]:
arr.shape[0]

4

- 데이터 열의 개수를 알고 싶다면?

In [ ]:
arr.shape[1]

3

- 다차원에 대한 슬라이싱이 가능하다.

In [ ]:
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

- 1번열만 가져오고 싶다면?

In [ ]:
arr[:,1]

array([ 2,  5,  8, 11])

- 0번열과 2번열을 가져오고 싶다?

In [ ]:
arr[:,::2]

array([[ 1,  3],
       [ 4,  6],
       [ 7,  9],
       [10, 12]])

# 마스킹(masking)

- 마스킹이란?
    - bool배열을 마스크로 사용하여 데이터의 특정부분들을 선택할수 있다.

In [ ]:
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

- 첫번째 행과 세번째 행 가져와보기

In [ ]:
mask_arr = np.array([True,False,True,False])

arr[mask_arr]

array([[1, 2, 3],
       [7, 8, 9]])

- 슬라이싱과 마스킹 조합 가능
    - 0번 과 2번 열을 가져오고 싶다면?

In [ ]:
mask = [True,False,True]
arr[:,mask]

array([[ 1,  3],
       [ 4,  6],
       [ 7,  9],
       [10, 12]])

- 2보다 큰수만 가져오고 싶다면?

In [ ]:
mask = arr > 2
mask

array([[False, False,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
arr[mask] # 모든 스칼라에 마스킹을 할경우 벡터로 출력

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# 여러개의 인덱스 값들을 이용하여 가져올수 있다.

In [ ]:
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

- 0번, 2번 행 가져오기

In [ ]:
index_list = [0,2]
arr[index_list]

array([[1, 2, 3],
       [7, 8, 9]])

- 0번, 2번 열 가져오기

In [ ]:
arr[:,index_list]

array([[ 1,  3],
       [ 4,  6],
       [ 7,  9],
       [10, 12]])

# 3. `numpy` 함수 알아보기

# 배열의 각 요소 별로 연산(element-wise)

In [ ]:
arr1 = np.array( [1,5,1] )
arr2 = np.array( [3,2,7] )

np.add(arr1,arr2) # arr1 + arr2

array([4, 7, 8])

In [ ]:
np.subtract(arr1,arr2) # arr1 - arr2

array([-2,  3, -6])

In [ ]:
np.multiply(arr1,arr2) # arr1 * arr2

array([ 3, 10,  7])

In [ ]:
np.divide(arr1,arr2) # arr1 / arr2

array([0.33333333, 2.5       , 0.14285714])

In [ ]:
np.abs(arr1-arr2) # 절대값

array([2, 3, 6])

# 브로드캐스팅(Broadcasting)
- 배열의 모양이 다르더라도 어떠한 조건이 만족했을때 작은 배열을 큰배열 크기로 맞춘다.

In [ ]:
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

- 스칼라일 경우 큰 배열에 크기로 변환된다.

In [ ]:
arr * 2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

In [ ]:
arr * np.array([2,2,2])

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

In [ ]:
arr * np.array(
    [
     [2],
     [2],
     [2],
     [2],
     ]
    )

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

# 배열 만들기

- `np.arange`
    - `range` 함수 와 비슷하지만 ndarrray 가 반환된다.(슬라이싱 기법과 비슷)

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(1, 10, 2)

array([1, 3, 5, 7, 9])

- `np.zeros`
    - 0으로 채워진 배열 만들기

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.zeros( (2,3) )

array([[0., 0., 0.],
       [0., 0., 0.]])

- `np.ones`
    - 1 로 채워진 배열 만들기

In [ ]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
np.ones( (2,3) )

array([[1., 1., 1.],
       [1., 1., 1.]])

- `np.full`
    - 지정한 값으로 채워진 배열을 만들 때 사용

In [ ]:
np.full((3,5) , True )

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])

# numpy 집계 함수

In [ ]:
scores = np.array([80,90,100,70,40,90])

In [ ]:
np.sum(scores) , scores.sum() # 총합

(470, 470)

In [ ]:
np.mean(scores) , scores.mean() # 평균

(78.33333333333333, 78.33333333333333)

In [ ]:
np.median(scores)  # 중앙값

85.0

In [ ]:
np.std(scores) , scores.std() # 표준편차

(19.50783318453271, 19.50783318453271)

In [ ]:
np.var(scores) , scores.var() # 분산

(380.5555555555556, 380.5555555555556)

In [ ]:
np.min(scores) , scores.min() # 최소값

(40, 40)

In [ ]:
np.max(scores) , scores.max() # 최대값

(100, 100)

In [ ]:
np.argmin(scores), scores.argmin() # 최소값 인덱스 반환

(4, 4)

In [ ]:
np.argmax(scores) , scores.argmax()  # 최대값 인덱스 반환

(2, 2)

In [ ]:
arr = np.array([1,3,3,4,4,6,6,6,6])
np.unique(arr) # 고유값만 보기(중복 제거)

array([1, 3, 4, 6])

In [ ]:
np.square([2,3,4]) # 제곱

array([ 4,  9, 16])

In [ ]:
np.sqrt([2,3,4]) # 루트

array([1.41421356, 1.73205081, 2.        ])

In [ ]:
np.round([5.3,7.5,8.8]) # 반올림

array([5., 8., 9.])

In [ ]:
np.round([5.33,7.56,8.81], 1) # 두번째 인수를 1줄경우 소수점 1자리 까지 반올림

array([5.3, 7.6, 8.8])

- exp 함수 : $y=e^x$
    - 자연상수(오일러의수,2.71828....)를 밑으로하는 지수함수
    - 지수함수는 거듭제곱의 지수를 변수로 하는 함수를 말한다.
    - x 에 0 들어가면 1이 반환
    - x 에 1 들어가면 오일러수 반환

![1280px-Exp.jpg]()

- x 값이 커질수록 반환값이 더커지는 특징이 있다.
- x 값이 큰수가 들어가면 무한대 값이 나온다.

In [ ]:
np.exp(1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

inf

In [ ]:
np.exp(0) # 1이 반환된다.

1.0

In [ ]:
np.exp(1) # 오일러수가 반환된다.

2.718281828459045

In [ ]:
np.exp(8) # 작은 수를 큰수로 반환환다.

2980.9579870417283

- 자연 로그 함수 : $y = \log_e x$
    - e(오일러의수)를 밑으로하는 로그함수
    - x 에 0 들어가면 무한대 , 1 들어가면 0
    - x 값이 클수록 더 작게 만들어주는 특징이 있다.
    - x 값에 0 이하가 들어갈경우 무한대값이 나온다.

![Log_(2).jpg]()

In [ ]:
np.log([0,1])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([-inf,   0.])

In [ ]:
np.log(100000000000000000)

39.14394658089878

- 분위수 :
    - 데이터의 크기 순서에 따른 위치값
    - 이상치에 영향을 적게 받는다.
    - 0.5를 줄경우 중앙값이 나온다.

In [ ]:
arr = np.array([100,3,3,6,7,9,20,10,9])
np.quantile(arr,0.5) , np.median(arr) , np.mean(arr)

(9.0, 9.0, 18.555555555555557)

- 사분위수 구해보기
    - 데이터를 4등분
    - 데이터의 25%지점 50%지점 75%지점 구해보기

In [ ]:
np.quantile(arr,[0,0.25,0.5,0.75,1]) # 0사분위수(최소값) , 1사분위수 , 2사분위수(중앙값) ,3사분위수, 4사분위수(최대값)

array([  3.,   6.,   9.,  10., 100.])

# 배열 조건 연산

In [ ]:
scores = np.array([80,90,100,70,40,90])
scores

array([ 80,  90, 100,  70,  40,  90])

In [ ]:
scores >= 80 # 80 이상인 요소는 True 아닐경우 False

array([ True,  True,  True, False, False,  True])

In [ ]:
np.any(scores >= 100)  # 요소중에 조건에 참이 하나라도 있을 경우

True

In [ ]:
np.all(scores > 30)  # 모든요소가 조건에 맞을 경우만 true

True

In [ ]:
np.all(scores > 50)

False

- np.where
    - 첫번째 인수에 조건이 들어간다.
    - 두번째 인수에는 조건이 참일 경우의 값
    - 세번째 인수에는 조건이 거짓일 경우의 값

In [ ]:
np.where(scores >= 80 , scores , 0)

array([ 80,  90, 100,   0,   0,  90])

- 무한대 값

In [ ]:
np.inf

inf

- nan 값(결측치)

In [ ]:
np.nan

nan

- 데이터 전처리 과정에서 다음과 같이 무한대 값과 nan 값이 생겼다고 가정해보자

In [ ]:
arr = np.array([np.inf , np.nan , 4, 5, 7, 8.1])
arr

array([inf, nan, 4. , 5. , 7. , 8.1])

In [ ]:
np.isinf(arr) # 무한대값 찾기

array([ True, False, False, False, False, False])

In [ ]:
np.isnan(arr) # NaN 찾기

array([False,  True, False, False, False, False])

In [ ]:
np.isfinite(arr) # 셀수있는 정상데이터 찾기

array([False, False,  True,  True,  True,  True])

In [ ]:
arr[np.isfinite(arr) == False] = 0 # 무한대값과 nan 값 0으로 초기화하기
arr

array([0. , 0. , 4. , 5. , 7. , 8.1])

# numpy random

- rand 0 과 1사이 랜덤값 반환

In [ ]:
np.random.rand()

0.9003369072556155

In [ ]:
np.random.rand(3) # 크기 지정하기

array([0.08698874, 0.7589555 , 0.60725334])

In [ ]:
np.random.rand(3,4)

array([[0.03970715, 0.87144542, 0.26281189, 0.86761638],
       [0.3461437 , 0.3403859 , 0.19460446, 0.19123175],
       [0.43794266, 0.41633547, 0.12977039, 0.48781431]])

- randn
    - 평균이 0 이고 분산이 1인 정규분포의 랜덤값들을 반환

In [ ]:
arr = np.random.randn(10000)
arr

array([ 0.81107137,  0.7270694 ,  0.60526414, ..., -0.02626906,
       -0.42480228, -1.07701032])

In [ ]:
arr.mean() , arr.var()

(0.004480258957545551, 0.9905065133878524)

- randint
    - start ~ end-1 의  랜덤한 정수를 반환
    - 세번째 인자는 크기 지정

In [ ]:
arr = np.random.randint(50, 100)
arr

90

In [ ]:
arr = np.random.randint(50, 100, (4, 3))
arr

array([[83, 70, 89],
       [77, 72, 62],
       [64, 71, 62],
       [75, 71, 84]])

- shuffle 배열을 섞는다.
    - 반환 값이 없고 배열 자체를 섞는다.

In [ ]:
arr = np.arange(1,7)
np.random.shuffle(arr)
arr

array([1, 2, 6, 4, 3, 5])

- choice
    - 지정한 개수만큼 랜덤하게 선택해서 추출

In [ ]:
np.random.choice(5,3) # 0~4의 정수에서 랜덤하게 3개 선택(같은 값이 나올수 있음)

array([0, 0, 3])

In [ ]:
np.random.choice(5,3,replace=False) # 같은 값을 랜덤하게 선택 안되게 하기

array([0, 2, 1])

In [ ]:
np.random.choice(5,3,p=[0.3,0.3,0.2,0.1,0.1]) # 확률도 줄수있다.p 인수의 합이 1이 되어야 한다.

array([3, 3, 4])

In [ ]:
arr = np.array([10,20,30,40,50,60])
np.random.choice(arr,3) # 배열도 첫번째 인수로 넣을수 있음

array([30, 40, 30])

#  `axis` 이해하기

In [ ]:
arr = np.random.randint(50, 91, (4, 3))
arr

array([[51, 54, 63],
       [81, 64, 66],
       [71, 85, 62],
       [53, 84, 59]])

In [ ]:
arr.sum(axis=0) # 행방향일 경우 열에 대한 집계가 이루어 진다.

array([256, 287, 250])

In [ ]:
arr.sum(axis=1) # 열방향일 경우 행에 대한 집계가 이루어 진다.

array([168, 211, 218, 196])

# 배열 차원 변경

In [ ]:
arr = np.arange(6)
arr

array([0, 1, 2, 3, 4, 5])

In [ ]:
arr2 = np.reshape(arr, (2,3) )
arr2

array([[0, 1, 2],
       [3, 4, 5]])

In [ ]:
np.transpose(arr2) # 전치!! 열이 행이 되고 행은 열이 된다.

array([[0, 3],
       [1, 4],
       [2, 5]])

In [ ]:
arr2.T

array([[0, 3],
       [1, 4],
       [2, 5]])

```
- reshape 와 transpose 다르다.
- transpose 서로의 차원을 맞바꿈
- reshape 데이터 요소의 순서대로 재배치하면 차원을 변경
```

In [ ]:
arr2

array([[0, 1, 2],
       [3, 4, 5]])

In [ ]:
arr2.flatten() # 1차원으로 변경

array([0, 1, 2, 3, 4, 5])

In [ ]:
arr.reshape(-1) # reshape 를 이용한 방법

array([0, 1, 2, 3, 4, 5])

# numpy 배열 합치기

- concatenate 함수
    - axis 방향으로 배열을 합칠수 있다.

In [ ]:
arr1 = np.array([
    [1,2],
    [3,4],
    [5,6]
])
arr2 = np.array([
    [10,20]
])
np.concatenate((arr1,arr2),axis=0)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [10, 20]])

In [ ]:
arr2 = np.array([
    [10],
    [20],
    [30]
])
np.concatenate((arr1,arr2),axis=1)

array([[ 1,  2, 10],
       [ 3,  4, 20],
       [ 5,  6, 30]])