# 함수와 메서드(Method)
$$
f(x) = 2x
$$
- 함수
    - 코드의 반복을 줄이거나 어떠한 용도를 위해 특정 코드들을 모아둔 것
    - 어떠한 결과를 만들어내는 코드의 집합

- 메소드: 객체에 소속된 형태의 함수

In [ ]:
lst = [10,2,35,4]
max(lst) # 최대값을 반환

35

In [ ]:
min(lst) # 최소값을 반환

2

In [ ]:
sum(lst) # 합계를 반환

51

In [ ]:
len(lst) # 길이(크기)를 반환

4

In [ ]:
sorted(lst) # 정렬

[2, 4, 10, 35]

In [ ]:
s = "ABCD"
s_lower = s.lower() # 메소드
s_lower

'abcd'

# `list` 활용

## `list`의 메소드

- `append()`
  - 리스트의 제일 뒤에 값을 추가한다.

In [ ]:
lst = [1, 2 ,3,4]
lst.append(0)
lst

[1, 2, 3, 4, 0]

- `sort()`
  - 기본적으로 오름차순 정렬
  - `reverse=True` 설정하면 내림차순 정렬

In [ ]:
lst.sort()
lst

[0, 1, 2, 3, 4]

In [ ]:
lst.sort(reverse=True)
lst

[4, 3, 2, 1, 0]

- `pop()`
  - 제일 뒤에 있는 데이터를 **꺼내고** 삭제
  - 인덱스 값을 줄경우 해당 인덱스의 값을 꺼내고 삭제(default : lastindex)

In [ ]:
lst = [1, 2 ,3,4]
print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

4
[1, 2, 3]
3
[1, 2]
2
[1]
1
[]

- 앞에서 부터 꺼내고 삭제하고 싶다면?

In [ ]:
lst = [1, 2 ,3,4]
print(lst.pop(0))
print(lst)
print(lst.pop(0))
print(lst)
print(lst.pop(0))
print(lst)
print(lst.pop(0))
print(lst)

1
[2, 3, 4]
2
[3, 4]
3
[4]
4
[]

- extend()
  - 리스트와 리스트 합친다.(연결한다.)

In [ ]:
lst = [1,2,3]
lst.extend([4,5,6])

lst

[1, 2, 3, 4, 5, 6]

- append 메소드와 차이점은 append 메소드 경우는 리스트에 하나의 객체(요소)로 추가되는것

In [ ]:
lst = [1,2,3]
lst.append([4,5,6])
lst

[1, 2, 3, [4, 5, 6]]


- insert()
  - 인덱스 위치에 값을 추가한다.

In [ ]:
lst = [1,2,3]
lst.insert(0 , 9)
lst

[9, 1, 2, 3]

In [ ]:
lst = [1,2,3]
lst.insert(1 , 9)
lst

[1, 9, 2, 3]

* remove()
  - 리스트에서 값을 찾아 삭제한다.

In [ ]:
lst = [1,2,3]
lst.remove(2)
lst

[1, 3]

- del 키워드
  - 특정 인덱스 값을 삭제

In [ ]:
lst = [1,2,3]
del lst[0]
lst

[2, 3]

- del 키워드는 변수를 메모리에서 삭제할때 사용 할수도 있다.

In [ ]:
a = 1004
del a
a

NameError: ignored

- count()
  - 리스트안에 객체(요소)의 빈도수를 반환해준다.

In [ ]:
lst = [1,2,3,3,3,2,1,1,1,1]
lst.count(3)

3

## list의 연산

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]

- 더하기 연산을 이용한 리스트 연결
    - extend 와 같은 결과
    - 다른 점은 원본 리스트를 변경하지 않고 새로은 리스트가 생기는 개념

In [ ]:
list1 + list2

[1, 2, 3, 4, 5, 6]

- 이런식으로 활용하면 append 와 동일한 효과를 볼수 있다.

In [ ]:
list1 + [6]

[1, 2, 3, 6]

- 곱하기 연산을 사용하면 리스트를 반복해서 연결

In [ ]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

- 포함연산자를 이용하면 리스트 안에 객체(요소)가 포함되어있는지 알수 있다.

In [ ]:
2 in list1

True

In [ ]:
1004 in list1

False

In [ ]:
1004 not in list1

True

- 비교연산자를 이용하면 리스트의 각 객체(요소)의 값이 같은지 다른지 비교할수 있다.

In [ ]:
list1 == [1,2,3]

True

In [ ]:
list1 != [1,2,3]

False

# `tuple` 활용

## `tuple`의 메소드

- count()
  - 튜플 안에 객체(요소)의 빈도수를 반환해준다.

In [ ]:
tup = (1,2,3,3,3,2,1,1,1,1)
tup.count(1)

5

- 튜플은 수정 불가능한 자료형 이지만, 컬렉션 자료형에 대한 더하기와 곱하기 연산은 새로운 객체를 생성하기 때문에 사용가능하다.

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)

tup1 + tup2

(1, 2, 3, 4, 5, 6)

In [ ]:
tup1 * 2

(1, 2, 3, 1, 2, 3)

- 동일하게 포함 연산자와 비교연산자도 사용 가능하다.

In [ ]:
3 in tup1

True

In [ ]:
3 not in tup1

False

In [ ]:
tup1 == tup2

False

In [ ]:
tup1 != tup2

True

# `set` 활용

## `set`의 메소드

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4}

A , B

({1, 2, 3}, {2, 3, 4})

In [ ]:
A

{1, 2, 3}

- intersection()
    - 교집합을 반환한다.

In [ ]:
A.intersection(B)

{2, 3}

- union()
    - 합집합을 반환한다.

In [ ]:
A.union(B)

{1, 2, 3, 4}

- difference()
    - 차집합을 반환환다.

In [ ]:
A.difference(B)

{1}

- add()
    - 객체(요소)를 추가할수 있다.
    - 중복 요소 일 경우 추가 되지 않는다.

In [ ]:
a = {1,2,3}
a.add(4)
a

{1, 2, 3, 4}

- update()
    - 여러 객체(요소)들을 추가할수 있다.
    - 중복 요소는 제외되고 추가 된다.

In [ ]:
a.update([1,2,3,4,5,6])
a

{1, 2, 3, 4, 5, 6}

- remove()
    - 값을 기준으로 삭제한다.

In [ ]:
a.remove(4)
a

{1, 2, 3, 5, 6}

# `dict` 활용

In [ ]:
city = {
    "한국" : "부산",
    "일본" : "교토",
    "캐나다" : "오타와"
}
city

{'일본': '교토', '캐나다': '오타와', '한국': '부산'}

## `dict`의 메소드

- get()
    - dict 자료형에 없는 key의 value 를 가져오면 에러가 발생한다.
    - 에러를 방지하기 위해 유용하다.

"중국" 키가 없기 때문에 에러 발생

In [ ]:
city["중국"]

KeyError: ignored

에러가 발생하지 않는다.

In [ ]:
city.get("중국")

해당 key가 없을 경우 지정한 값으로 value값을 반환되게 할수 있다.

In [ ]:
city.get("중국","없음")

'없음'

- update()
    - dict 자료형에 dict 자료형을 추가할때 사용한다.
    - 동일한 key가 있을 경우 value 가 수정되고, 없을 경우 추가된다.

In [ ]:
add_city = {"중국": "상하이" , "미국" : "워싱턴"}
city.update(add_city)
city

{'미국': '워싱턴', '일본': '교토', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

- pop()
    - key의 value 를 반환 하면서 지정한 key와 value를 삭제한다.

In [ ]:
print(city.pop("중국"))
city

상하이

{'미국': '워싱턴', '일본': '교토', '캐나다': '오타와', '한국': '부산'}

- keys()
    - dict 자료형의 전체 key 를 확인할수 있다.

In [ ]:
city.keys()

dict_keys(['한국', '일본', '캐나다', '미국'])

- values()
    - dict 자료형의 전체 value 를 확인할수 있다.

In [ ]:
city.values()

dict_values(['부산', '교토', '오타와', '워싱턴'])

- items()
    - dict 자료형의 전체 key 와 value 를 확인할수 있다.
    - key 와 value는 튜플 형태로 묶인다.

In [ ]:
city.items()

dict_items([('한국', '부산'), ('일본', '교토'), ('캐나다', '오타와'), ('미국', '워싱턴')])

- 포함 연산자를 이용하여 다음과 같이 활용 할수 있다.

해당 키가 있는지 keys 메소드로 확인해보기

In [ ]:
"한국" in city.keys()

True

해당 value 가 없는지 확인해보기

In [ ]:
"서울" not in city.values()

True

- 문자열만 키가 될수있는게 아니다.

In [ ]:
num_dict = {
    0:"제로",
    3.14 : "원주율"
}

num_dict[3.14]

'원주율'

In [ ]:
num_dict[0]

'제로'

- dict 자료형도 value에 모든 객체를 담을 수 있다.

In [ ]:
info_dict = {
    "name" : "이관수",
    "score" : [100,100,100,100,100],
    "etc" : {
        "my_dream" : "hacker",
    }
}

info_dict

{'etc': {'my_dream': 'hacker'},
 'name': '이관수',
 'score': [100, 100, 100, 100, 100]}

- key를 수정해야 할경우 다음과 같이 pop 메소드를 이용하면 된다.

In [ ]:
num_dict = {
    "mean":80,
    "std" : 3.5,
}

num_dict["avg"] = num_dict.pop("mean")
num_dict

{'avg': 80, 'std': 3.5}

# 컬렉션 자료형의 변환

- list -> tuple

In [ ]:
lst = [1, 2, 3]
tuple(lst)

(1, 2, 3)

- tuple -> list

In [ ]:
tup = 1, 2, 3
list(tup)

[1, 2, 3]

- lst -> set

In [ ]:
lst = [1, 1, 2, 3, 4, 4, 6, 6]
set(lst)

{1, 2, 3, 4, 6}

- set -> list

In [ ]:
sets = {"Apple", "Banana", "Mango"}
list(sets)

['Mango', 'Apple', 'Banana']

- dict -> list
    - dict 를 list 로 변환하면 key만 리스트에 담긴다.

In [ ]:
city = {
    "한국" : "부산",
    "일본" : "교토",
    "캐나다" : "오타와"
}
list(city)

['한국', '일본', '캐나다']

- keys() 메소드 이용시 위에 셀과 결과가 동일하다.

In [ ]:
list(city.keys())

['한국', '일본', '캐나다']

- values() 메소드를 이용하면 value 만 리스트에 담을수 있다.

In [ ]:
list(city.values())

['부산', '교토', '오타와']

- items() 메소드를 이용하면 key , value 가 튜플형태로 묶여 리스트에 담긴다.

In [ ]:
tup_list = list(city.items())
tup_list

[('한국', '부산'), ('일본', '교토'), ('캐나다', '오타와')]

-  리스트안에 튜플이 두개 씩 들어있으면 key , value 형태로 쌍을 이뤄 dict 자료형으로 변환 할수 있다.

In [ ]:
dict(tup_list)

{'일본': '교토', '캐나다': '오타와', '한국': '부산'}

- 문자열도 시퀀스 하기 때문에 리스트로 변환 가능하다.

In [ ]:
text = "hello"
list(text)

['h', 'e', 'l', 'l', 'o']

# `str` 활용

- 큰따옴표로 문자열을 생성한경우
    - 문자열안에 큰따옴표를 넣고 싶을때는 `\` 기호를 따옴표 앞에 붙이면 문법오류가 발생하지 않는다.
    - 작은 따옴표도 동일한 방식으로 하면 된다.

In [ ]:
text = "빅데이터 기초 \"프로그래밍\" 강의"
print(text)

빅데이터 기초 "프로그래밍" 강의

- doc string 를 이용하면 작은 따옴표와 큰 따옴표를 모두 넣을 수 있다.

In [ ]:
text = """ '빅데이터' 기초 "프로그래밍" 강의 """
print(text)

 '빅데이터' 기초 "프로그래밍" 강의

- 문자열도 인덱싱과 슬라이싱이 모두 가능하다.

In [ ]:
text = "hello"
text[-1]

'o'

In [ ]:
text[::-1]

'olleh'

- 문자열에도 연산자를 활용할수 있다.

In [ ]:
text1 = "hello"
text2 = "world"

print(text1 + text2)

helloworld

In [ ]:
text1 * 10

'hellohellohellohellohellohellohellohellohellohello'

In [ ]:
"d" in text2

True

In [ ]:
"d" not in text2

False

- 문자열 포매팅(String Formatting)
    - 문자열 내의 **특정한 값**을 **변수로 부터** 동적으로 문자열을 생성

In [ ]:
name = "철수"
age  = 25

더하기 연산자를 이용한 방법

In [ ]:
text = "제 이름은 " + name + '입니다. 나이는 ' + str(age) +"입니다."
print(text)

제 이름은 철수입니다. 나이는 25입니다.

format 메소드를 이용한 방법

In [ ]:
text = "제 이름은 {}입니다. 나이는 {}입니다."
print( text.format(name, age)  )

제 이름은 철수입니다. 나이는 25입니다.

F string 을 이용한 방법

In [ ]:
text = f"제 이름은 {name}입니다. 나이는 {age}입니다."
print(text)

제 이름은 철수입니다. 나이는 25입니다.

## `str`의 메소드

- 대문자 or 소문자로 변환

In [ ]:
text = "Hello Python"
text.upper()

'HELLO PYTHON'

In [ ]:
text.lower()

'hello python'

- 문자열 치환

In [ ]:
text = "Hello Python"
text.replace("P", "C")

'Hello Cython'

- 문자열 분리

In [ ]:
text = "Hello Python"
text.split() # 기본적으로 공백을 기준으로 분리

['Hello', 'Python']

In [ ]:
text = "Hello#Python"
text.split("#") # 기준값을 주어 분리하는 방법

['Hello', 'Python']

- 문자열의 좌우 공백 제거

In [ ]:
text = "    Hello Python     "
print(text)

    Hello Python

In [ ]:
print(text.strip())

Hello Python

- 문자열 연결하기
    - 리스트의 각 문자열들을 하나의 문자열로 연결 할수 있다.

In [ ]:
lst = ['오늘', '하루', '너무', '행복하다']
"#".join(lst)

'오늘#하루#너무#행복하다'

- 지정한 문자열로 시작하는지 여부 반환

In [ ]:
text = "빅데이터 기초 프로그래밍 강의"
text.startswith("빅데이터")

True

- 지정한 문자열로 끝나는지 여부 반환

In [ ]:
text = "빅데이터 기초 프로그래밍 강의"
text.endswith("강의")

True