# 제어문
- 코드의 **흐름을** 제어하는 문법
- 프로그램은 어떠한 작업을 하기위해 단순하게 순차적, 어떤 조건에 의한 분기, 특정 코드 부분을 반복해서 실행한다. 여기서 주어진 조건에 따라 반복해서 코드를 실행할때 사용하는 것을 제어문이라고 한다.



# 조건문 ( `Condition` )
- 특정한 조건을 만족하면 ( `True` ) 코드를 실행

### 조건문의 구조
```python
if <condition>:
    code context
    ...
elif <condition>:
    code context
    ...
elif <condition>:
    code context
    ...
...
else:
    code context
```

In [ ]:
accuracy = 0.92
if accuracy >= 0.9:
    print("와우 최고의 인공지능 모델입니다.")
elif accuracy >= 0.8:
    print("좋은 모델입니다.")
elif accuracy >= 0.7:
    print("평범함 모델입니다.")
else:
    print("성능향상이 필요한 모델입니다.")

와우 최고의 인공지능 모델입니다.

- if 문은 단독으로 사용 가능하다.

In [ ]:
num = 2
if num != 0:
    print(10 / num)

5.0

In [ ]:
num = 0
if num:
    print(10 / num)

## 중첩 조건문
- 조건문 안에 조건문을 사용할수 있다.

In [ ]:
age = 19

if age > 99 or age < 0:
    print("유효한 나이를 입력해주세요")
else:
    if age < 20:
        print("20세이상만 회원가입이 가능합니다.")
    else:
        print("DB 저장 완료")

20세이상만 회원가입이 가능합니다.

# 반복문( Loop )
- 반복적으로 코드를 수행할때 사용

## `while` 문
- 조건제 반복
- 조건이 참인 동안 반복
- 무한 반복 주의


```python
while <condition>:
    code context
```

In [ ]:
n = 3
i = 1
while i < 10:
    print(f"{n} X {i} = {n*i}")
    i += 1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

## 중첩 while 문

In [ ]:
n = 2
while n < 10:
    print(f"{n} 단 입니다.")
    i = 1
    while i < 10:
        print(f"{n} X {i} = {n*i}")
        i += 1
    n += 1

2 단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## `for` 문
- 반복 가능(iterable)한 객체를 더이상 꺼낼수 없을때 까지 반복
- `list`, `tuple`, `set`, `dict` , `str`

```python
for <variable> in <iterable>:
    code context
```

In [ ]:
n = 9
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

### 파이썬의 `range` 함수
- 특정 구간의 숫자의 범위를 만들어주는 함수
- 슬라이싱 기법을 이용하여 숫자의 범위를 만들수 있다.
- 파이썬에 range 라는 숫자의 범위를 가진 iterable한 특수한 객체이다.
- for문과 같이 자주 사용된다.

In [ ]:
range(0,10)

range(0, 10)

In [ ]:
range(10)

range(0, 10)

In [ ]:
type(range(0,10))

range

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [ ]:
n = 9
for i in range(1,10):
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 중첩 `for` 문

In [ ]:
for i in range(2,10):
    print(f"{i} 단 입니다.")
    for j in range(1,10):
        print(f"{i} X {j} = {i*j}")

2 단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- 문자열도 iterable 하다

In [ ]:
text = "Hello Python"
for s in text:
    print(s)

H
e
l
l
o

P
y
t
h
o
n

## break 문
- 해당 반복문을 빠져 나온다.

In [ ]:
text = "Hello Python"
for s in text:
    if s == " ":
        break
    print(s)

H
e
l
l
o

## continue 문
- 진행을 중단하고 다음 반복으로 넘어간다.

In [ ]:
text = "Hello Python"
for s in text:
    if s == " ":
        continue
    print(s)

H
e
l
l
o
P
y
t
h
o
n

## `enumerate` 함수
-  iterable한 객체를 꺼낼때 인덱스도 같이 꺼낸다.

In [ ]:
lst = [10,20,30,40,50]
for i,v in enumerate(lst):
    print(f"{i}번째 인덱스 의 요소는 {v}")

0번째 인덱스 의 요소는 10
1번째 인덱스 의 요소는 20
2번째 인덱스 의 요소는 30
3번째 인덱스 의 요소는 40
4번째 인덱스 의 요소는 50

In [ ]:
list(enumerate(lst))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [ ]:
dict(enumerate(lst))

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50}

## `zip` 함수
- 여러 개의 컬렉션을 순번대로 병렬로 꺼낸다.

In [ ]:
class_list = ["A반", "B반", "C반"]
score_list = [90,87,93]

for c, s in zip(class_list, score_list):
    print(f"{c}의 점수는 {s}점")

A반의 점수는 90점
B반의 점수는 87점
C반의 점수는 93점

In [ ]:
zip(class_list,score_list)

In [ ]:
list(zip(class_list,score_list))

[('A반', 90), ('B반', 87), ('C반', 93)]

In [ ]:
dict(zip(class_list,score_list))

{'A반': 90, 'B반': 87, 'C반': 93}

## `dict`를 `for` 문으로 반복

In [ ]:
score_dict = {
    "국어": 100,
    "수학": 80,
    "영어": 85
}
for k in score_dict.keys():
  print(f"{k}는 {score_dict[k]}점")

국어는 100점
수학는 80점
영어는 85점

In [ ]:
for value in score_dict.values():
  print(f"{value}점")

100점
80점
85점

In [ ]:
for subject, score in score_dict.items():
  print(f"{subject}는 {score}점")

국어는 100점
수학는 80점
영어는 85점

## 삼항 연산자
- `if`, `else`만 사용해서 삼항연산을 수행




```python
<True 일 때 사용할 값> if <condition> else <False 일 때 사용할 값>
```

In [ ]:
age = 20
msg = "회원가입이 가능" if age >= 20 else "회원가입이 불가능"
print(msg)

회원가입이 가능

# 컴프리헨션(Comprehension)
- 반복가능한 객체를 활용해서 새로운 반복가능한 객체를 만들때 유용하다.
- `list`, `set`, `dict`를 자료형을 간단하게 만들기 위한 문법
- `tuple` 은 컴프리헨션으로 만들 수 없다


```python
[ <추가할 값에 대한 처리> for <값> in <collection> if <값에 대한 조건> ]
```

In [ ]:
result = [ data ** 2 for data in range(1, 6) ]
result

[1, 4, 9, 16, 25]

In [ ]:
num_list = list(range(1, 21))
result = [ num for num in num_list if num % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
result = [ num**2 if num % 2 == 0 else num for num in num_list]
print(result)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100, 11, 144, 13, 196, 15, 256, 17, 324, 19, 400]

## `dict` Comprehension

In [ ]:
key_list = ["국어", "영어", "수학"]
value_list = [80, 85, 90]
result = { k : v for k, v in zip(key_list, value_list)}
result

{'국어': 80, '수학': 90, '영어': 85}

In [ ]:
text = "Hello Python"
result = {char : text.count(char) for char in set(text)}
result

{' ': 1,
 'H': 1,
 'P': 1,
 'e': 1,
 'h': 1,
 'l': 2,
 'n': 1,
 'o': 2,
 't': 1,
 'y': 1}